{% extends "base.html" %}
{% load i18n %}
{% block extra_header %}
<style>
    h4{
        text-align:center;
    }
</style>
{% endblock extra_header %}
{% block content %}
<div class="android-more-section">
    <div class="android-card-container mdl-grid">
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">{% trans "Order completed" %}</div>
                <div class="panel-body">
                    {% trans "Your order is complete! Below is your order number." %}
                    <h4><strong>{{ order.order_id }}</strong></h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}