{% extends "base.html" %}
{% load i18n %}
{% block extra_header %}
<style>

.form-column{
  padding: 20px 35px !important;
}
.cell_con{
    background: #fff;
    padding-left: 20px;
}
.cell_con div{
    width: 87%;
}
.links{
    margin: auto;
    text-align: center;
}
.btn{
  margin:auto;
  width:100%;
}
.android-more-section {
    text-align: center;
}
</style>
{% endblock extra_header %}
{% block content %}
    <div class="android-more-section">
        <div class="android-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--3dp">
                <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">{% trans "Inform your billing address" %}</h4>
                </div>
                <form method="POST" class="viewform">{% csrf_token %}
                <div class="mdl-cell mdl-cell--12-col cell_con">
                    <i class="material-icons">place</i>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <select name="brand">
                            <option value="---"></option>
                                <option value="VISA">VISA</option>
                                <option value="MASTERCARD">MASTERCARD</option>
                                <option value="AMERICAN EXPRESS">AMERICAN EXPRESS</option>
                        </select>
                        {% if payment_form.brand.value == None %}
                            <label class="mdl-textfield__label" for="brand">{% trans "Enter your card brand" %}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col cell_con">
                    <i class="material-icons">person_pin_circle</i>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="id_card_id" name="card_id"
                        value="{{ payment_form.card_id.value|default:"" }}">
                        {% if payment_form.card_id.value == None %}
                            <label class="mdl-textfield__label" for="card_id">{% trans "Enter your card number"%}  </label>
                        {% endif %}
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col cell_con">
                    <i class="material-icons">person_pin_circle</i>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="id_exp_month" name="exp_month"
                        value="{{ payment_form.exp_month.value|default:"" }}">
                        {% if payment_form.exp_month.value == None %}
                            <label class="mdl-textfield__label" for="exp_month">{% trans "Enter your card expiration month" %}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col cell_con">
                    <i class="material-icons">place</i>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="id_exp_year" name="exp_year" value="{{ payment_form.exp_year.value|default:"" }}">
                        {% if payment_form.exp_year.value == None %}
                            <label class="mdl-textfield__label" for="exp_year">{% trans "Enter your card expiration year" %}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col cell_con">
                    <i class="material-icons">place</i>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="id_full_name" name="full_name">
                        {% if payment_form.full_name.value == None %}
                            <label class="mdl-textfield__label" for="full_name">{% trans "Enter your card full name" %}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col cell_con">
                    <i class="material-icons">place</i>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="id_cc_four" name="cc_four">
                        {% if payment_form.cc_four.value == None %}
                            <label class="mdl-textfield__label" for="cc_four">{% trans "Enter your card security number" %}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col cell_con">
                    <i class="material-icons">place</i>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="id_billing_address1" name="billing_address1" value="{{ payment_form.billing_address1.value|default:"" }}">
                        {% if payment_form.billing_address1.value == None %}
                            <label class="mdl-textfield__label" for="billing_address1">{% trans "Enter your billing address1" %}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col cell_con">
                    <i class="material-icons">place</i>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="id_billing_address2" name="billing_address2" value="{{ payment_form.billing_address2.value|default:"" }}">
                        {% if payment_form.billing_address2.value == None %}
                            <label class="mdl-textfield__label" for="billing_address2">{% trans "Enter your billing address2" %}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col cell_con">
                    <i class="material-icons">place</i>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="id_billing_city" name="billing_city" value="{{ payment_form.billing_city.value|default:"" }}">
                        {% if payment_form.billing_city.value == None %}
                            <label class="mdl-textfield__label" for="billing_city">{% trans "Enter your billing city" %}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col cell_con">
                    <i class="material-icons">place</i>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="id_billing_state" name="billing_state" value="{{ payment_form.billing_state.value|default:"" }}">
                        {% if payment_form.billing_state.value == None %}
                            <label class="mdl-textfield__label" for="billing_state">{% trans "Enter your billing state" %}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col cell_con">
                    <i class="material-icons">place</i>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="id_billing_zip" name="billing_zip" value="{{ payment_form.billing_zip.value|default:"" }}">
                        {% if payment_form.billing_zip.value == None %}
                            <label class="mdl-textfield__label" for="billing_zip">{% trans "Enter your billing zip" %}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col cell_con">
                    <i class="material-icons">place</i>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <select id="id_billing_country" name="billing_country">
                    <option value=""> ---- </option>
                    {% for a,b in payment_form.fields.billing_country.choices %}
                        <option value="{{ a }}"> {{ b }}</option>
                    {% endfor %}
                    </select>
                    {% if payment_form.billing_country.value == None %}
                        <label class="mdl-textfield__label" for="billing_country">{% trans "Enter your billing country" %}</label>
                    {% endif %}
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col  login-btn-con">
                    <input type="hidden" name="finalize" value="true">
                    <button class="btn btn-primary btn-lg">{% trans "Continue" %}</button>
                </div>
                </form>
            </div>
        </div>
    </div>  {% endblock content %}