{% extends "base.html" %}
{% load i18n %}
{% block extra_header %}
<style>

.form-column{
  padding: 20px 35px !important;
}
.cell_con{
    background: #fff;
    padding-left: 20px;
}
.cell_con div{
    width: 87%;
}
.links{
    margin: auto;
    text-align: center;
}
.btn{
  margin:auto;
  width:100%;
}
.android-more-section {
    text-align: center;
}
</style>
{% endblock extra_header %}
{% block content %}
    <div class="android-more-section">
        <div class="android-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--3dp">
                <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">{% trans "Inform your shipping address" %}</h4>
                </div>
                <form method="POST" class="viewform">{% csrf_token %}
                    {% for field in shipping_form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <input type="hidden" name="payment" value="true">
                    <button class="btn btn-primary btn-lg">{% trans "Continue" %}</button>
                </form>
            </div>
        </div>
    </div>  {% endblock content %}