{% extends 'base.html' %}
{% load i18n %}
{% load thumbnail %}
{% block content %}
    <div class="android-more-section">
        <div class="android-section-title mdl-typography--display-1-color-contrast">{% trans "Featured Products" %}</div>
        <div class="android-card-container mdl-grid">
            {% for product in products %}
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                <div class="mdl-card__media">
                    <img src="{{ product.image.url }}">
                </div>
                <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">{{ product.name }}</h4>
                </div>
                <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">{{ product.description }}</span>
                </div>
                <div class="mdl-card__actions">
                    <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase add-basket-item" href="{% url "add_to_basket" product.pk %} ">
                   {% trans "Add to basket" %}
                        <i class="material-icons">chevron_right</i>
                    </a>
                </div>
        </div>
        {% endfor %}
      </div> <!-- end android-card-container -->
    </div><!-- end android-more-section -->

{% endblock content %}